<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/bb8598bc-f641-4558-b03f-cabcb9fa6ee7/v3/index.json" />
  </packageSources>
</configuration>